endpoint_add_tcp "0.0.0.0:30120" # Change for your ip if you have many interfaces in your network.
endpoint_add_udp "0.0.0.0:30120"

exec config/resources.cfg

sv_scriptHookAllowed 0
sets tags "development, clean, vrp"
sets locale "pt-BR" 

#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

load_server_icon logo.png
sv_hostname "Base Batatinha | Development Base | Create Projects, scripts, and much more. | Clean"
sets sv_projectName "Base Batatinha | Development Base | Create Projects, scripts, and much more. | Clean"
sets sv_projectDesc "Base Batatinha | Development Base | Create Projects, scripts, and much more. | Clean"
sv_enforceGameBuild 2802
sv_master1 "" # comment this line to become the server public.
sv_maxclients 1

# Ace Permissions

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:110000111e5897b group.admin

exec config/license.cfg